/* region common rules */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left{
    float: left;
   
}

img{
    max-width: 100%;
}



/* 
endregion common rules */


/* utilities */

main{
    margin-top: 4rem;
}

#app-main{
    font-family: 'Laila', sans-serif;
}

header{
    background-color: #0627c9f5;
    text-align: center;
    font-family: 'Laila', sans-serif;
    border-bottom: 2px solid black;
    box-shadow: 0 0 15px;
    
}

#header_h1{
    font-weight: 800;
    font-size: 3rem;
    padding-top: 1rem;
}

#header-p{
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
}
.container{
    max-width: 1400px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-4{
    float: left;
    width: calc((100% / 12) * 4);
}

.details{
    float: left;
    padding: 1rem;
    
    background-color: black;
    color: #fafafa;
}

.card >.image{
    width: calc(100% / 3);
}

.py{
    padding-top: 1rem;
    padding-bottom: 2.2rem;
}

.p_text{
    padding-bottom: 0.8rem;
}

.card{
    padding-bottom: 5rem;
}