/* region common rules */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left{
    float: left;
}

.image{
    width: 120px;
}

.col-4{
    background-color: black;
    
}

/* 
endregion common rules */


/* utilities */

main{margin-top: 2rem;}

header{
    background-color: blueviolet;
    text-align: center;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

col-4{
    float: left;
    width: calc((100%/12) * 4);
    padding: 1rem;
}

