/* region common rules */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left{
    float: left;
   
}

img{
    max-width: 100%;
}



/* 
endregion common rules */


/* utilities */

main{
    margin-top: 4rem;
}

#app-main{
    font-family: 'Laila', sans-serif;
}

header{
    background-color: blueviolet;
    text-align: center;
    font-family: 'Laila', sans-serif;
    height: 150px;
}

#header-p{
    padding-top: 2rem;
}
.container{
    max-width: 1400px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-4{
    float: left;
    width: calc((100% / 12) * 4);
    padding: 1rem;
   
}

.details{
    float: left;
    padding: 1rem;
   
    background-color: black;
    color: white;
}

.card >.image{
    width: calc(100% / 3);
}

.py{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

